@model RapidAuto.MVC.Models.Vehicule

@{
    ViewData["Title"] = "Details";
    var pathImages = ViewBag.UrlConteneur;
}

<h1>Fiche détaillée du véhicule</h1>

<div>
    <h4>Véhicule - @Model.Constructeur @Model.Modele</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constructeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constructeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modele)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeVehicule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeVehicule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDeSieges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDeSieges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image1)
        </dt>
        <dd class = "col-sm-10">
            <img src="@(pathImages+Model.NomImage1)" alt="@Model.NomImage1" width="300px" height="200px" title="@Model.NomImage1"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd class = "col-sm-10">
            <img src="@(pathImages+Model.NomImage2)" alt="@Model.NomImage2" width="300px" height="200px" title="@Model.NomImage2"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstDisponible)
        </dt>
        <dd class = "col-sm-10">
            @{
                if(Model.EstDisponible == true)
                {
                    <p>Disponible</p>
                }
                else
                {
                    <p>N'est pas disponible</p>
                }
            }            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeUnique)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeUnique)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Ajouter aux favoris", "Create", "Favoris", new { idVehicule = Model.Id }, new { @class = "btn btn-primary" })

    @if (!Model.EstDisponible)
    {
        @Html.ActionLink("Commander", "Create", "Commande", new { idVehicule = Model.Id }, new { @class = "btn btn-primary disabled" })
    }
    else
    {
        @Html.ActionLink("Commander", "Create", "Commande", new { idVehicule = Model.Id }, new { @class = "btn btn-primary" })
    }
</div>
<div>
    <a asp-action="Index">Retourner à la liste des véhicules</a>
</div>
